<h1 class="section-title">Novo Aluno 🧑‍🎓</h1>
<form method="get" onsubmit="criarAlunos();"> <!-- <- TODO AQQQ -->

  <div class="wrapper inputs">
    <label for="nome">·Nome:</label>
    <input type="text" id="nome" placeholder="Nome completo do Aluno" name="nome" required>
  </div>

  <div class="wrapper inputs">
    <label for="idade">·Idade:</label>
    <input type="number" id="idade" placeholder="Idade do Aluno" name="idade" required>
  </div>

  <div class="wrapper inputs">
    <label for="email">·Email:</label>
    <input type="text" id="email" name="email" placeholder="Email do Aluno" required>
  </div>

  <div class="wrapper" style="justify-content: center;">
    <input type="reset" value="∅ Limpar"></input>
    <input type="submit" value="Enviar >">
  </div>

</form>