header {
  box-shadow: 0 3px 10px var(--cor-box-shadow);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: var(--cor-cinza-medio);
}

.header-section {
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-justify: auto;
  background-color: var(--cor-branco);
  border-radius: 20px;
  color: var(--cor-preto);
}

.vertical-bar {
  background-color: var(--cor-cinza-transparente-claro);
  height: 25px;
  width: 2px;
  display: block;
  border-radius: 10px;
}

.smaller {
  height: 15px;
  background-color: var(--cor-cinza-transparente);
}

.header-item {
  border: solid 1px var(--cor-branco);
  padding: 5px 8px;
  border-radius: 20px;
  transition: all .3s;
}

.header-item:hover {
  opacity: .9;
  border: solid 1px var(--cor-preto);
  transition: all .15s;
}

.header-item:active {
  opacity: .7;
}