thead {
  font-weight: bold;
  background-color: #636363;
}

tbody {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: separate;
  background-color: #636363;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  transition: all 0.3s;
  cursor: default;
}

th {
  background-color: #636363;
  color: #fff;
  text-align: left;
  padding: 8px;
  border: solid 2px rgba(34, 34, 34, 0.3);
  min-width: 90px;
  border-radius: 5px;
}

tbody tr {
  background-color: #777777;
  transition: all 0.3s;
  border-bottom: solid 1px rgba(34, 34, 34, 0.3);
  border-radius: 5px;
}

tbody tr.selecionado {
  background-color: #222222;
}

tbody tr:hover,
tbody td:hover,
th:hover {
  background-color: rgba(34, 34, 34, 0.3);
  transition: all 0.15s;
}

td,
th {
  border-radius: 5px;
  padding: 8px;
  min-width: 250px;
  max-width: 250px;
}

.special-column {
  min-width: 65px;
  max-width: 65px;
}

table tbody {
  cursor: pointer;
}