* {
  text-wrap: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #222222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

thead {
  font-weight: bold;
  background-color: #636363;
}

tbody {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #636363;
  color: #fff;
  padding: 10px 12px;
  text-align: left;
}

td {
  background-color: #464646;
  color: #fff;
  padding: 10px 19px;
  text-align: left;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 5px 0;
}

button,
input[type=submit],
input[type=text],
input[type=number],
input[type=reset],
input[type=button],
input[type=password] {
  background-color: #fff;
  color: #222222;
  border: none;
  padding: 3px 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

input[type=text],
input[type=number],
input[type=password] {
  cursor: text;
}

button:hover,
input[type=submit]:hover,
input[type=text]:hover,
input[type=number]:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=password]:hover {
  opacity: .8;
  transition: all .15s ease-in-out;
}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {
  color: #fff;
  background-color: #222222;
  transform: scale(1.05);
  opacity: .6;
  transition: all .05s;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
}

form,
table {
  background-color: #464646;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  transition: all 0.3s;
  width: 280px;
}

label {
  text-align: end;
}

form:hover,
table:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 0 #fff;
  transition: all 0.15s;
}
