* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #222222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

table {
  border: solid #fff 2px;
  padding: 10px;
  border-radius: 20px;
}

thead {
  font-weight: bold;
  background-color: #636363;
}

tr:hover {
  background-color: #858585;
}

th {
  padding: 6px;
}

td {
  padding: 5px 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 5px 0;
}

button {
  background-color: #fff;
  color: #222222;
  border: none;
  padding: 3px 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button:hover {
  opacity: .8;
  transition: all .15s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}