<h1 class="section-title">Tabela de Alunos 🧑‍🎓</h1>
<table id="table-alunos">
  <thead>
    <tr>
      <th class="special-column">Id</th>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Email</th>
      <th class="special-column">Editar</th>
      <th class="special-column">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="special-column">001</td>
      <td>Mock da Silva Lima</td>
      <td>00/00/0000</td>
      <td>mockup@mock.com</td>
      <td class="special-column item" onclick="editarAluno()">✏️</td>
      <td class="special-column item" onclick="apagarAluno()">🗑️</td>
    </tr>
  </tbody>
</table>