<h1 class="section-title">Tabela de Cursos 🎓</h1>
<table id="table-cursos">
  <thead>
    <tr>
      <th class="special-column">Id</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Duração</th>
      <th>Nível</th>
      <th class="special-column">Editar</th>
      <th class="special-column">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="special-column">001</td>
      <td>Treinamento .NET</td>
      <td>Treinamento de C# .NET da plataforma DIO</td>
      <td>93</td>
      <td>Avançado</td>
      <td class="special-column item" onclick="editarCurso()">✏️</td>
      <td class="special-column item" onclick="apagarCurso()">🗑️</td>
    </tr>
  </tbody>
</table>